
header {
    position: fixed;        
    top: 0;                 
    left: 0;
    width: 100%;            
    background-color: cadetblue;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    box-sizing: border-box;
    z-index: 1000;          
}


body {
    margin-top: 80px;  
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 20px;
}

#menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition:  0.3s;
    text-decoration: none;
}

#menu a:hover {
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}