
h1{
    color:rgb(38, 111, 114);
    font-style: inherit;
    text-align: center;
    display: inline-block;
    margin-left: 10px;

}


#sub{
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(10, 135, 139);
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 15px;
}

table th, table td{
    text-align: center;
}
table th {
    background-color: cadetblue;
    color: white;
}

footer{
    color:rgb(202, 211, 219);
    background-color:cadetblue;
}

.beneficios{
    list-style: none;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;      
}
#formulario-datos {
    width: 40%;
    background: linear-gradient(45deg, #b4b5b6, #a2acaf, #9ababd);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 


}
#formulario-datos label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formulario-datos input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#cuenta-creada{
    margin-top: 20px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: black;
    background-color: #0f88b1be;
    color: white;
}
#cuenta-creada:hover {
    background-color:   #0d7699be;
}

body{
    background-color: #e0e7ee;
    margin: 0;
    padding: 0;
}

#titulo-re{
    font-family:initial;
    font-size: 30px;
    
}

/* Que el body siempre ocupe el 100% de la pantalla */
html, body {
    height: 100%;
}

/* El body en modo columna */
body {
    display: flex;
    flex-direction: column;
}

/* Main o el contenedor de tu contenido se expande */
main {
    flex: 1;   /* ocupa todo el espacio disponible */
}

/* Footer queda siempre abajo */
footer {
    margin-top: auto;   /* se empuja hacia el final */
    color: rgb(202, 211, 219);
    background-color: cadetblue;
    padding: 16px;      /* dale algo de aire para que no quede “aplastado” */
    text-align: center;
}
