h1{
    color:rgb(38, 111, 114);
    font-style: inherit;
    text-align: center;
    display: inline-block;
    margin-left: 10px;

}

#sub{
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(10, 135, 139);
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 15px;
}

table th, table td{
    text-align: center;
}
table th {
    background-color: cadetblue;
    color: white;
}

footer{
    color:rgb(202, 211, 219);
    background-color:cadetblue;
}

.beneficios{
    list-style: none;
}

header {
  background-color: cadetblue;
  width: 100%;
  position: static;
  z-index: 100;
}

#menu{
    align-items: center;
    color: white;

}
.registro{
    background-color: rgb(211, 216, 207);
    justify-content: center;
    align-items: center;
}